@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dois", sans-serif;
}
html {
  font-size: 62.5%;
}

@media  (max-width: 550px), (max-height: 550px){
  html {
    font-size: 50%;
  }
}
@media(max-height: 600px){
  html{
    font-size: 45%;
  }
}